.empowering-sec .empowering-card {
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
    padding: 20px;
    text-align: center;
    transition: .3s;
    display: flex;
    background: #fff;
    align-items: center;
    border: 1px solid #eee
}

.empowering-sec .empowering-card .icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    padding: 9px;
    border-radius: 50%
}

.empowering-sec .empowering-card .icon img {
    transition: .3s;
    /* filter: invert(1); */
}

.empowering-sec .empowering-card .empowering-content {
    width: 75%;
    text-align: left
}

.empowering-sec .empowering-card:hover {
    box-shadow: rgba(0, 0, 0, .25) 0 25px 50px -12px;
    border-bottom: 6px solid #000
}

.ls-result .empowering-card .empowering-content p {
    margin: 0;
    padding: 0;
    line-height: 24px;
    padding-bottom: 4px !important;
    text-align: left;
    font-size: 16px;
}

.empowering-sec .empowering-card .empowering-content h3 {
    font-weight: 700
}



.amazon-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    min-height: 459px;
    margin-bottom: 25px;
}

.amazon-card h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 8px;
}

.amazon-card img {
    width: 60px;
    margin-bottom: 20px;
}

section.amazon-product-opt .row .col-md-4:nth-child(odd) .amazon-card {
    background: #f2fedc;
    border: 1px solid #cadfa4;
}

section.amazon-product-opt .row .col-md-4:nth-child(even) .amazon-card {
    background: #f7f7f7;
    border: 1px solid #ddd;
}

section.lets-talk-wrapper {
    background: #135799;
    padding: 50px 0;
    text-align: center
}

section.lets-talk-wrapper .card-3 {
    background: #fff;
    padding: 20px;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    text-align: center;
    margin-top: 55px
}

section.lets-talk-wrapper .card-3 p {
    margin-top: -54px
}

section.lets-talk-wrapper .card-3 p i {
    background: #f9cf2f;
    color: #000;
    font-size: 39px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    border: 1px dashed #cfad2c
}

section.lets-talk-wrapper .card-3 h3 {
    font-size: 21px;
    color: #000;
    text-transform: uppercase;
    font-weight: 800
}

section.lets-talk-wrapper a.join-us {
    background: #f9cf2f;
    padding: 16px 43px;
    border-radius: 50px;
    font-size: 19px;
    color: #000;
    transition: .3s;
    box-shadow: rgb(50 50 93 / 25%) 0 13px 27px -5px, rgb(0 0 0 / 30%) 0 8px 16px -8px;
    cursor: pointer
}

section.lets-talk-wrapper a.join-us:hover {
    background: #000;
    color: #fff
}

p.card-55 {
    text-align: center;
    margin-top: 40px
}

.whyez_sec .servicescardview_group:hover h3,
.whyez_sec .servicescardview_group:hover p,
section.technology-lisy-sec ul.ul-list li p {
    color: #000
}

.whyez_sec .servicescardview_group {
    /* border: .1px solid #ffffff4d; */
    min-height: 185px;
    padding: 15px;
    margin-bottom: 16px;
    background: #fff0;
    border-radius: 6px;
    /* box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0; */

}

section.whyez_sec {
    background: #f7f7f7;
}

.whyez_sec .page-heading h2 {
    margin: 0;
    font-size: 2.28rem;
    text-transform: uppercase;
    line-height: 1.3 !important;
    color: #000;
    font-weight: 700;
    padding-bottom: 30px;
    font-family: poppinsbold;
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.whyez_sec .servicescardview_icon {
    background: #ffffff00;
    padding: 5px;
    border-radius: 4px;
    width: 100px;
}

.whyez_sec .servicescardview_icon img {
    width: 70px;
}

.whyez_sec .servicescardview_conts {
    padding-left: 10px;
}

.whyez_sec .servicescardview_conts h3 {
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
}

.whyez_sec .servicescardview_group .servicescardview_conts>div {
    height: 287px;
    overflow: auto;
}

.servicescardview-list .one {
    position: sticky;
    top: 90px;
    z-index: 1;

}

.servicescardview-list .two {
    position: sticky;
    top: 90px;
    z-index: 2;

}

.servicescardview-list .three {
    position: sticky;
    top: 90px;


    z-index: 3;

}

.servicescardview-list .four {
    position: sticky;
    top: 90px;
    z-index: 4;

}

.servicescardview-list .five {
    position: sticky;
    top: 90px;
    z-index: 5;

}

.servicescardview-list .six {
    position: sticky;
    top: 90px;
    z-index: 6;

}

.servicescardview-list .saven {
    position: sticky;
    top: 90px;
    z-index: 7;

}

.left-w {
    position: sticky;
    top: 92px;
}

.servicescardview-list .row .col-12:nth-child(odd) .servicescardview_group {
    background: #fff7d6 !important;
}

.servicescardview-list .row .col-12:nth-child(even) .servicescardview_group {
    background: #ffffff;
}

/* New */
section.seo-succ-story .succ-card {
    text-align: center;
}

section.seo-succ-story .succ-card h3 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: poppinsbold;
    padding: 13px;
    background: #4285f4;
    margin-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
}

section.seo-succ-story {
    background: #f0f4f9;
}

section.seo-succ-story .succ-card img {
    width: 100%;
    height: 254px;
    object-fit: contain;
    border: 1px solid #ddd;
    padding: 20px;
    background: #fff;
}

section.seo-succ-story .section-title-wrap.pb30 {
    text-align: center;
}

section.seo-succ-story .succ-card ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 16px;
    line-height: 40px;
}

section.seo-succ-story .succ-card ul li {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

section.seo-succ-story .succ-card ul li i {
    color: #FFC107;
    width: 30px;
    height: 30px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

section.seo-marketing h2 {
    color: var(--headingcolor);
    text-align: left;
    font-size: 40px;
    font-family: poppinsbold;
    padding-bottom: 13px;
}

section.seo-marketing h2 {
    color: var(--headingcolor);
    text-align: left;
    font-size: 40px;
    font-family: poppinsbold;
    padding-bottom: 13px;
}

section.seo-marketing .accordion-button:not(.collapsed) {
    color: #ffffff !important;
    background-color: #11559b !important;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button {
    color: #000000;
    text-align: left;
    background-color: #fff;
}

section.seo-marketing h2 {
    color: var(--headingcolor);
    text-align: left;
    font-size: 40px;
    font-family: poppinsbold;
    padding-bottom: 13px;
}

.accordion-item h2 {
    margin: 0 !important;
    padding-bottom: 0px !important;
}

.accordion-item {
    color: #000000;
    background-color: #ffffff !important;
    border: var(--bs-accordion-border-width) solid #e4e4e4;
}

.fa-line-chart:before {
    content: "\f201";
}

.fa-thumbs-o-up:before {
    content: "\f087";
}

.fa-eye:before {
    content: "\f06e";
}