@media (min-width:1201px) and (max-width:1400px) {}

@media (min-width:993px) and (max-width:1200px) {
    section.seo-succ-story .succ-card ul li i {

        width: 20px;
        height: 20px;
        font-size: 10px;
        flex-shrink: 0;

    }

    section.seo-succ-story .succ-card ul li {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: baseline;
        font-size: 14px;
    }

    section.seo-succ-story .succ-card ul li {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: baseline;
        font-size: 14px;
        text-align: left;
        line-height: 25px;
    }

    .amazon-card p {
        height: 300px;
        padding-right: 10px;
        overflow: auto;
    }

}

@media (min-width:768px) and (max-width:992px) {
    section.seo-succ-story .succ-card ul li i {

        width: 20px;
        height: 20px;
        font-size: 10px;
        flex-shrink: 0;

    }

    section.seo-succ-story .succ-card ul li {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: baseline;
        font-size: 14px;
    }

    section.seo-succ-story .succ-card ul li {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: baseline;
        font-size: 14px;
        text-align: left;
        line-height: 25px;
    }

    .amazon-card p {
        height: 300px;
        overflow: auto;
    }

    .accordion-button:not(.collapsed)::after {
        filter: brightness(0) invert(1);
    }

    section.lets-talk-wrapper .card-3 h3 {
        font-size: 14px !important;
        color: #000;

    }

}

@media(max-width:767px) {
    section.seo-succ-story .succ-card {
        margin-bottom: 30px;
    }

    section.seo-succ-story .succ-card ul li i {

        width: 20px;
        height: 20px;
        font-size: 10px;
        flex-shrink: 0;

    }

    section.seo-succ-story .succ-card ul li  {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: baseline;
        font-size: 14px;
    }

    .amazon-card {
        height: auto;
    }

    section.seo-marketing h2 {
        font-size: 30px !important;
    }

    .accordion-button:not(.collapsed)::after {
        filter: brightness(0) invert(1);
    }

}

@media(max-width:480px) {}

@media(max-width:360px) {}