@media (min-width:1201px) and (max-width:1400px) {}

@media (min-width:993px) and (max-width:1200px) {}

@media (min-width:768px) and (max-width:992px) {
    .seo-roadmap .step-text {
        height: 200px;
        overflow: auto;
    }
}

@media(max-width:767px) {

    .form .form-group {
        margin-bottom: 14px;
    }

    .seo-reseller-partner-form .col-md-2.form-group {
        padding-bottom: 0;
    }

    .industries-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 8px;
        margin-top: 20px;
    }

    .industries-grid .industry-card {
        width: 99%;
    }

    .seo-roadmap .step-card {
        margin-top: 2px;
    }

    .seo-roadmap .timeline {

        margin-top: 35px;
    }

    .seo-roadmap .timeline {

        padding: 0;
    }

    .seo-roadmap .step-card {

        height: auto;

    }
}

@media(max-width:480px) {}

@media(max-width:360px) {}