@media (min-width:1201px) and (max-width:1400px) {}

@media (min-width:993px) and (max-width:1200px) {
.fra-img-banner img {
        height: 537px;
        width: 100%;
        object-fit: cover;
    }.banner-right-form {
        background: #ffffff;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        margin-left: auto;
        max-width: 387px;
        position: absolute;
        overflow: hidden;
        right: 5%;
        top: 56px;
    }.banner-right-form h2 {
        font-size: 23px;
        font-weight: 700;
        color: #0b559a;
        margin-bottom: 19px;
        text-align: center;
        line-height: 25px;
    }.banner-right-form h2 span {
        margin-top: 3px;
        font-size: 12px;
        font-weight: 300;
        background: #ffffff;
        color: #000;
        /* border: 1px dashed #f9cf2f; */
        padding: 3px 20px;
        border-radius: 100px;
        display: inline-block;
    }.form-control {
        border-radius: 7px;
        border: 1px solid #0b559b61;
        padding: 7px 15px;
        margin-bottom: 8px;
        font-size: 13px;
        transition: border-color 0.3s, box-shadow 0.3s;
        /* background: #ffffff !important; */
        background: transparent;
        border: 1px solid #8f8f8f;
        color: #fff;
    }.recognition-modern .logo-wall {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 2rem auto;
        justify-content: center;
        flex-wrap: wrap;
    }section.send-perposal .form-group.col-md-6 input.btn.btn-warning {
       
        padding: 16px 21px;
      
    }
}

@media (min-width:768px) and (max-width:992px) {
.fra-img-banner img {
        height: 376px;
        width: 100%;
        object-fit: cover;
    }.franchise-package-banner {
      
        flex-direction: column;
    }.banner-right-form {
        background: #ffffff;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        margin-left: auto;
        max-width: 90%;
        position: relative;
        overflow: hidden;
        right: 0;
        top: -66px;
        left: 0;
        width: 100%;
        margin: 0 auto !important;
    }.recognition-modern .logo-wall {
       
        flex-wrap: wrap;
    }.recognition-modern .logo-wall {
       
        justify-content: center;
    }       .stat-card {
              max-width: 49%;
              width: 49%;
          }   .stats-container {
                flex-direction: row;
                align-items: center;
            }
}

@media(max-width:767px) {
.franchise-package-banner {
        padding: 0px 0;
        text-align: center;
    }      .banner-right-form {
              padding: 30px;
              position: relative;
          }.fra-img-banner img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }.franchise-package-banner {
           
         
            flex-direction: column;
        }.banner-right-form {
            margin-top: 0;
            margin-left: 0;
        }    .banner-right-form {
                background: #ffffff;
                padding: 20px;
                border-radius: 20px;
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
                right: 0;
                top: -48px;
                width: 90%;
                margin: 0 auto !important;
            }.banner-right-form h2 {
             
                margin-bottom: 8px;
              
            }
        .form-control {
            border-radius: 7px;
            border: 1px solid #0b559b61;
            padding: 8px 15px;
            margin-bottom: 11px;
            font-size: 1rem;
            transition: border-color 0.3s, box-shadow 0.3s;
            /* background: #ffffff !important; */
            background: transparent;
            border: 1px solid #8f8f8f;
            color: #fff;
        }
    .banner-left-wrap h1 {
               font-size: 25px;
               margin-bottom: 5px;
           }.banner-left-wrap {
            padding-right: 0;
        }.banner-right-form h2 {
            font-size: 25px;
           
        }.banner-right-form h2 span {
            margin-top: 12px;
            font-size: 13px;
           
        }.franchise-section {
            background: #fff;
            padding: 40px 0;
          
        }section.franchise-section .col-md-6:nth-child(1) {
            order: 2;
            margin-top: 18px;
        }.franchise-section .content-left h2 {
            font-size: 25px;
        }.director-section {
          
            padding: 40px 0;
          
        }.director-section .content-left h2 {
            font-size: 25px;
            margin-bottom: 5px;
        }section.director-section .col-md-6:nth-child(1) {
            order: 2;
        }section.director-section .col-md-6:nth-child(1) {
            order: 2;
            margin-top: 30px;
        }.director-section .director-right {
            margin-top: 58px;
        }.recognition-modern {
            padding: 2rem 0;
          
        }    
        .recognition-modern .main-title {
                font-size: 25px;
            }.recognition-modern .pre-title {
                text-align: center;
                text-transform: uppercase;
                color: #060707;
                margin-bottom: 1rem;
                background: #f9cf2f;
                max-width: 71%;
                font-size: 17px;
                padding: 7px 20px;
                border-radius: 100px;
                margin: 0 auto;
                padding-top: 13px;
                border: 1px solid #b69517;
            }    .recognition-modern .logo-wall {
                 gap: 0px;
                 justify-content: center;
                    flex-wrap: wrap;
                }.recognition-modern .logo-card {
                    border-radius: 12px;
                    background: white;
                    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                    width: 48%;
                }.recognition-modern .logo-card img {
                    height: 100px;
                    width: 100%;
                    margin-bottom: 0;
                    transition: filter 0.3s ease;
                    object-fit: contain;
                }.recognition-modern .modern-cta {
                  
                    padding: 7px 20px;
                  
                    font-size: 14px;
                }.office-section .contact-details h2 {
                    font-size: 25px;
                  
                } 
                    section.send-perposal h3 {
                        font-size: 25px !important;
                    }.stats-section {
                        padding: 40px 0px;
                        background: linear-gradient(135deg, #ffffff, #e6e9ff);
                        text-align: center;
                    }    .stat-card {
                           max-width: 87%;
                           width: 86%;
                       }
}

@media(max-width:480px) {}

@media(max-width:360px) {}